{% load static %}
<main class="principal">
    <section class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static 'assets/ícones/1x/Home - ativo.png' %}"> Home</a>
            <a href="{% url 'nova_imagem' %}"><img src="{% static 'assets/ícones/1x/new.png' %}"> Nova Imagem</a>
            <a href="{% url 'por_usuario' %}"><img src="{% static 'assets/ícones/1x/Mais vistas - inativo.png' %}"> Por Usuário</a>
            <a href="{% url 'minhas_imagens' %}"><img src="{% static 'assets/ícones/1x/minhas_imagens.png' %}"> Minhas Imagens</a>
            <a href="{% url 'mais_vistas' %}"><img src="{% static 'assets/ícones/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
            <a href="{% url 'mais_curtidas' %}"><img src="{% static 'assets/ícones/1x/Mais vistas - inativo.png' %}"> Mais curtidas</a>
            <a href="{% url 'novas' %}"><img src="{% static 'assets/ícones/1x/Novas - inativo.png' %}"> Novas</a>
            <a href="{% url 'surpreender' %}"><img src="{% static 'assets/ícones/1x/surpreendame.png' %}"> Surpreenda-me</a>
            <a href="{% url 'logout' %}"><img src="{% static 'assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
        </nav>
    </section>